.hero {
    width: 100%;
  }
  .navbar{
      background:#e3f2fd;;
  }
  .navbar .title a::after{ 
    content: '\f004';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin:0px 0px 0px 10px;
    text-decoration:none;
 }
 .floral{
    text-align: center;
 }
 .jumbotron{
    background: white;
}
.venue{
    display: flex;
}
.rsvp{
    display: flex;
}
.rings{
    width:40%;
    padding-left: 10%;
}
.rings img{
    width: 80%;
}
.rsvp form{
    width:40%;
    padding-left: 20%;
}